* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 1.6rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  
}

button {
  float: right;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  height: 32px;
  margin-bottom: 8px; 
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  min-width: 40%;
}

.todo-list li {
  font-size: 1.2rem;
  list-style: none;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 4px;
}

.message {
  font-size: 1.2rem;
  text-align: center;
  padding: 8px;
}

.danger {
  background-color: #FF6B6B;
}

.success {
  background-color: #66f9e1;
}