* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
} 

.todo-app {
  min-width: 600px;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 1.6rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  
}

button {
  font-size: 1rem;
  height: 32px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit] {
  float: right;
  background-color: #4CAF50;
  color: white;
  margin-bottom: 8px; 
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid red; /* Green */
}

.controls {
  width: 100%;
  display: flex;
  margin-top: 1.6rem;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.calendarClass {
  position: absolute;
  top: 217px;
  box-shadow: 0px 0px 10px 2px lightgray;
}

.tableCell{
  background-color: lightgray;
  border: black;
  width: 150px;
  height: 150px;
  position: relative;


}

.calendarGrid {
  alignment: center ;
  margin: auto;
  min-width: 40%;
  min-height: 30%;
  width: 68%;
  height: 80%;
  background-color: #b9b9b9;
  position: absolute;
  z-index: 1;
  border: 2px solid #535353;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


}


.table {
  border: 1px #4CAF50;
  table-layout: fixed;
  width: 60%;
  font-size: x-small;
  list-style: inside;
}
.alignDateNum{
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #4CAF50;
}
.control-btn {
  background-color: #cacaca;
  color: #888888;
}

.control-btn.active {
  background-color: navajowhite;
  color: blue;
}

.todo-list {
  min-width: 90%;
}

.todo-list li {
  font-size: 1.2rem;
  list-style: none;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  cursor: pointer;
}

.todo-list li:first-child {
  margin-top: 1rem;
}

.completed {
  color: #999999;
  font-style: oblique;
  text-decoration: line-through;
  text-decoration-color: #000;
}

.message {
  font-size: 1.2rem;
  text-align: center;
  padding: 8px;
}

.danger {
  background-color: #FF6B6B;
}

.success {
  background-color: #66f9e1;
}