* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.contacts-app {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  margin: 1rem;
}

.contacts {
  min-width: 40%;
}

.info {
  font-size: 1.2rem;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 4px 8px;
  margin-bottom: 4px;
  cursor: pointer;
  position: relative;
} 

.info:hover {
  background: #c4e8eb;
}

.details {
  position: absolute;
  top: 10%;
  right: 5%;
  text-align: right;
}

.details > div {
  margin: 4px 0;
}


.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}


.message {
  font-size: 1.2rem;
  text-align: center;
  padding: 8px;
}

.danger {
  background-color: #FF6B6B;
}

.success {
  background-color: #66f9e1;
}