* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.contacts-app {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  font-family: Helvetica, sans-serif;
  margin: 2rem;
}

.contacts {
  min-width: 40%;
}

.info {
  font-size: 1.2rem;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 1px 2px #cad0d1;
} 

.info:hover {
  background: #ebfbff;
  box-shadow: 0 4px 16px #cad0d1;
}

.details {
  text-align: right;
}

.details > div {
  margin: 4px 0;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.contact-card {
  border: 1px solid #dadada;
  padding: 24px;
  border-radius: 5px;
  height: 640px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px #686868;
  justify-content: space-between;
}

.content {
  padding: 32px;
  height: 320px;
  width: 100%;
  display: relative;
  text-align: right;
}

.content > div {
  width: 100%;
  margin: 8px 0;
}


.content > div > span:first-child {
  float: left;
  font-size: 1rem;
  font-style: oblique;
}

.content > div > span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-card > .avatar {
  width: 128px;
  height: 128px;
  margin-left: 32px;
  align-self: flex-start;
}

.back-btn {
  text-align: center;
  width: 54px;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #cad0d1;
}

.divide {
  padding-bottom: 12px;
  border-bottom: 2px inset #cad0d1;
}

.message {
  font-size: 1.2rem;
  text-align: center;
  padding: 8px;
}

.danger {
  background-color: #FF6B6B;
}

.success {
  background-color: #66f9e1;
}